services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
      - ./.gtfs:/app/.gtfs
      - ./prisma/.temp:/app/prisma/.temp
      - /app/node_modules/.prisma
    environment:
      - NODE_ENV=development
      - DEBUG=true
    command: npm run dev
    stdin_open: true
    tty: true
